
.col{

    background-color: rgb(203, 236, 247);
    margin-right: 1%;
    padding: 5%;
    border-radius: 20px;
}

svg{
    width: 6em;
    height: 6em;
    margin-bottom: 2%;
    margin-left: 25%;
}

#titulo{
    background-color: #00a79d;
    height: 300px;
    

}

 #titulo h1{
    font-size: 5em;
    padding-top: 10%;
    padding-left: 5%;
    color: ivory;

}
