<!--
<div class="container" id="titulo">
    <h1>Nuestros Proyectos</h1>
</div>-->
<h1 style="margin-top: 10%;">Nuestros Proyectos</h1>
<div class="container" style="margin-bottom: 2%; margin-top: 5%;">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-4 ">
            <div class="card">
                <img src="../../assets/images/bombilla.jpg" class="card-img-top" >
                <h5 class="card-header">Lorem, ipsum.</h5>
                <div class="card-body">
                    <h6 class="card-title">Lorem, ipsum dolor.</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, sint.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-8 col-md-4 ">
            <div class="card">
                <img src="../../assets/images/LOT.jpg" class="card-img-top">

                <h5 class="card-header">Lorem, ipsum.</h5>
                <div class="card-body">
                    <h6 class="card-title">Lorem, ipsum dolor.</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, sint.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-8 col-md-4">
            <div class="card">
                <img src="../../assets/images/thumb19.jpg" class="card-img-top" height="210px">

                <h5 class="card-header">Lorem, ipsum.</h5>
                <div class="card-body">
                    <h6 class="card-title">Lorem, ipsum dolor.</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, sint.</p>
                </div>
            </div>
        </div>


    </div>
</div>
