
<div id="titulo">
    <h1>Sobre Nosotros</h1>
</div>
<div class="container">
    <div id="textAbaout" class="jumbotron" style="margin-top: 2%;">
        <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </h1>
        <h3>Sunt dolores obcaecati recusandae at minus explicabo. </h3>
        <hr class="my-4">
        Itaque, qui inventore natus tempora enim vero libero distinctio voluptatem aliquid nemo quas necessitatibus totam consequuntur atque aspernatur sunt 
        temporibus id quibusdam blanditiis ducimus? Non eos excepturi quod expedita officiis a quidem laboriosam, veritatis adipisci similique labore tenetur 
        consequuntur temporibus est inventore libero ipsum fuga obcaecati atque repellendus doloremque laudantium ut ducimus perferendis! Provident quibusdam 
        exercitationem quisquam, nostrum doloribus, ab explicabo voluptatem dolorum beatae totam veritatis quae! Laborum odit ipsa doloremque sequi unde sint 
        doloribus fugiat necessitatibus officia impedit molestiae blanditiis quae adipisci repellendus, perferendis quas? Officiis, eum asperiores. 
    </div>

    <div class="row" style="margin-bottom: 10%;">
        <div class="col">
            <div class="card">
                <img src="../../assets/images/mario.jpg" class="card-img-top">
                <h5 class="card-header">Lorem, ipsum.</h5>
                <div class="card-body">
                    <h6 class="card-title">Lorem, ipsum dolor.</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, sint.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../assets/images/tamara.jpg" class="card-img-top">
                <h5 class="card-header">Lorem, ipsum.</h5>
                <div class="card-body">
                    <h6 class="card-title">Lorem, ipsum dolor.</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, sint.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../assets/images/sara.jpg" class="card-img-top">
                <h5 class="card-header">Lorem, ipsum.</h5>
                <div class="card-body">
                    <h6 class="card-title">Lorem, ipsum dolor.</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, sint.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="../../assets/images/tomi.jpg" class="card-img-top">
                <h5 class="card-header">Lorem, ipsum.</h5>
                <div class="card-body">
                    <h6 class="card-title">Lorem, ipsum dolor.</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, sint.</p>
                </div>
            </div>
        </div>
    </div>
</div>
