
img{
    width: 200px;
    margin-left: 100px;
}
.card{
    width: 400px;
    background-color: #ecf0f1;
    margin-bottom: 5%;
    margin-left: 5%;
    box-shadow: 2px 2px 20px;
}

#titulo{
    background-color: #00a79d;
    height: 300px;
    

}

 #titulo h1{
    font-size: 5em;
    padding-top: 10%;
    padding-left: 5%;
    color: ivory;

}

#textAbaout{
    text-align: justify;
    margin-bottom: 5%;
    padding: 3%;
    font-size: 1.1em;

}

.jumbotron{
    background-color: rgb(203, 236, 247);
    border-radius: 20px;

}

#provisional{
    font-size: 5em;
    
}
