<div class="container" style="margin-top: 8%;">
<div class="row" id="intro">
    <div class="col" id="expl">
        <span>{{titulo}}</span>
    </div>
</div>
<div class="row" id="textIntro">
    <div class="col" style="margin-top: 5%; margin-bottom: 5%;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Cumque dolorem sit, amet, incidunt molestiae similique nesciunt eligendi ullam perspiciatis odit unde minima modi. 
        Sunt, doloremque. Veritatis iure consectetur amet excepturi, quidem quaerat adipisci ex laudantium inventore quibusdam, temporibus nemo?
        Magni optio aspernatur non consectetur sed quos ducimus, praesentium ea dolorum? Esse architecto hic adipisci laborum dolorum, enim ut error officiis.
        Maiores quae ad repudiandae laudantium nemo consequatur, molestiae, repellendus ab itaque nulla, incidunt sunt corrupti tempora ducimus. 
        Esse porro nihil cum inventore debitis, perspiciatis illum libero quibusdam veniam ex impedit corporis, 
        molestiae culpa natus pariatur! Sit animi eligendi commodi rerum?
    </div>
    <div class="col" style="margin-top: 5%; margin-bottom: 5%;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Cumque dolorem sit, amet, incidunt molestiae similique nesciunt eligendi ullam perspiciatis odit unde minima modi. 
        Sunt, doloremque. Veritatis iure consectetur amet excepturi, quidem quaerat adipisci ex laudantium inventore quibusdam, temporibus nemo?
        Magni optio aspernatur non consectetur sed quos ducimus, praesentium ea dolorum? Esse architecto hic adipisci laborum dolorum, enim ut error officiis.
        Maiores quae ad repudiandae laudantium nemo consequatur, molestiae, repellendus ab itaque nulla, incidunt sunt corrupti tempora ducimus. 
        Esse porro nihil cum inventore debitis, perspiciatis illum libero quibusdam veniam ex impedit corporis, 
        molestiae culpa natus pariatur! Sit animi eligendi commodi rerum?
        </div>
    
</div>
 
<div class="container" style="margin-bottom: 2%;">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-4 ">
            <div class="card">
                <img src="../../assets/images/bombilla.jpg" class="card-img-top">
                <h5 class="card-header">Lorem, ipsum.</h5>
                <div class="card-body">
                    <h6 class="card-title">Lorem, ipsum dolor.</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, sint.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-8 col-md-4 ">
            <div class="card">
                <img src="../../assets/images/bombilla.jpg" class="card-img-top">

                <h5 class="card-header">Lorem, ipsum.</h5>
                <div class="card-body">
                    <h6 class="card-title">Lorem, ipsum dolor.</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, sint.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-8 col-md-4">
            <div class="card">
                <img src="../../assets/images/bombilla.jpg" class="card-img-top">

                <h5 class="card-header">Lorem, ipsum.</h5>
                <div class="card-body">
                    <h6 class="card-title">Lorem, ipsum dolor.</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, sint.</p>
                </div>
            </div>
        </div>


    </div>
</div>
</div>


